[MASTER]

[FORMAT]  # Specify a configuration file.
max-line-length=120

# max-attributes=50
# max-statements=80
# max-public-methods=50
# max-returns=10
# max-locals=30
# max-args=15
# max-positional-arguments=15


[MESSAGES CONTROL]
disable=
    C0103,  # Invalid name - We use snake_case for variable names.
    C0114,  # Missing module docstring - We prefer to omit module docstrings in this project.
    C0115,  # Missing class docstring - Classes are self-explanatory or documented elsewhere.
    C0116,  # Missing function or method docstring - Some utility functions do not require docstrings.
    C2801,  # Unnecessarily calls dunder method __str__. Use str built-in function. (unnecessary-dunder-call).

    E0401,  # Import error - We use relative imports in some cases, which may trigger this error.

    R0801,  # Similar lines in files - We have many similar lines in our test files.
    R0903,  # Too few public methods - We have many utility functions that are not part of a class.

    W0105,  # String statement has no effect (pointless-string-statement)
    W0718,  # Catching too general exception Exception (broad-exception-caught)
    W0719,  # Raising too general exception: Exception (broad-exception-raised)
    W0511,  # TODO / FIXME
    W1203,  # Use % formatting in logging functions and pass the % parameters as arguments - We use f-strings in some cases.
    W1514,  # Using open with a file descriptor - We use open with a file descriptor in some cases.
    R2044,  # Line with empty comment (empty-comment)
